@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    font: oblique 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00000005;
}

header {
    background-color: white;
}

img.imagem-eu {
    width: 45px;
    height: 7vh;
    margin: 15px 10px -16px 22px;
    border-radius: 100%;
    display: inline-block;
}

span.nome {
    font: oblique 700 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 24.2px;
    margin: 1px;
    color: #333333;
    text-transform: uppercase;
}

.nome:hover {
    color: #8943E9;
    cursor: pointer;
}

i>img#imagem-menu {
    display: block;
}

img#imagem-menu {
    position: relative;
    left: 86vw;
    top: -28px;
    cursor: pointer;
}

nav#itens {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 8px 7px -7px;
    z-index: 1;
    position: absolute;
    background-color: white;
}

ul.menu {
    display: grid;
    justify-items: end;
    list-style: none;
}

.menu>li {
    background-color: white;
    padding: 20px 15px 20px 15px;
}

hr {
    width: 100vw;
    border: 1px solid #0000000a;
}

ul.menu a {
    text-decoration: none;
    color: #333333;
    font: oblique 700 14px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 21.5px;
    text-transform: uppercase;
    margin: 0px 2px 0px 2px;
}

.menu a:hover {
    color: #8943E9;
}

section#info-perfil {
    position: absolute;
    top: 6em;
    min-width: 60vw;
    z-index: 0;
}

#info-perfil h1 {
    text-align: center;
    font-family: math;
    color: black;
    font-style: italic;
    font-size: 2.4em;
    letter-spacing: 8px;
}

#info-perfil p {
    text-align: justify;
    margin: 2px 30px 0px 30px;
    line-height: 1.7em;
    color: #000000;
    font-family: monospace;
    font-weight: normal;
}

hr.info {
    width: 5vw;
    border: 2px solid #8943E9;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
}

@media screen and (min-width:768px) {

    body {
        background-color: rgba(128, 128, 128, 0.151);
    }

    header {
        width: 100vw;
        padding-top: 10px;
        height: 13vh;
        background-color: white;
    }

    img.imagem-eu {
        width: 60px;
        height: 10vh;
        margin: 10px 29px -16px 0px;
        position: relative;
        top: -5px;
        left: 3vw;
        border-radius: 100%;
        display: inline-block;
    }

    span.nome {
        text-decoration: none;
        color: #333333cf;
        font: oblique 500 16px fantasy;
        text-transform: uppercase;
        margin: -30px 2px 0px 20px;
    }

    i>img#imagem-menu {
        display: none;
    }

    nav#itens {
        display: flex;
        justify-content: flex-end;
        box-shadow: none;
        background-color: transparent;
    }

    ul.menu {
        display: inline-flex;
        position: relative;
        top: -40px;
        left: 30vw;
    }

    ul.menu li {
        background-color: transparent;
        position: relative;
        left: 10vw;
    }

    ul.menu a {
        text-decoration: none;
        color: #333333cf;
        font: oblique 500 18px fantasy;
        text-transform: uppercase;
        margin: 0px 2px 0px 2px;
    }

    .menu a:hover {
        transition-duration: 2s;
        transform: translate(5px, -5px);
        display: block;
        text-decoration-line: overline;
    }

    hr {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}