@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    font: oblique 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: dimgrey;
}

header {
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

img.imagem-eu {
    width: 45px;
    height: 7vh;
    margin: 15px 10px -16px 22px;
    border-radius: 100%;
    display: inline-block;
}

span.nome {
    font: oblique 700 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 24.2px;
    margin: 1px;
    color: #333333;
    text-transform: uppercase;
}

.nome:hover {
    color: #8943E9;
    cursor: pointer;
}

i>img#imagem-menu {
    display: block;
}

img#imagem-menu {
    position: relative;
    left: 86vw;
    top: -28px;
    cursor: pointer;
}

nav#itens {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 8px 7px -7px;
    z-index: 1;
    position: absolute;
    background-color: white;
}

ul.menu {
    display: grid;
    justify-items: end;
    list-style: none;
}

.menu>li {
    background-color: white;
    padding: 40px 15px 20px 15px;
}

hr {
    width: 100vw;
    border: 1px solid #0000000a;
}

ul.menu a {
    text-decoration: none;
    color: #333333;
    font: oblique 700 14px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 21.5px;
    text-transform: uppercase;
    margin: 0px 2px 0px 2px;
}

.menu a:hover {
    color: #8943E9;
}

section#info-perfil {
    position: absolute;
    top: 8em;
    min-width: 60vw;
    z-index: 0;
}

#info-perfil h1 {
    text-align: center;
    font-family: math;
    color: white;
    font-style: italic;
    font-size: 2.4em;
    letter-spacing: 5px;
}

#info-perfil p {
    text-align: justify;
    margin: 5vw 8vw 0px 18vw;
    line-height: 2em;
    color: white;
    font-family: monospace;
    font-weight: normal;
}

hr.info {
    width: 5vw;
    border: 2px solid salmon;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
}

article#skills {
    position: absolute;
    display: flex;
    top: 34em;
    left: 20vw;
    width: 80vw;
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#skills h1 {
    text-align: center;
    font-family: math;
    color: white;
    font-style: italic;
    font-size: 2.1em;
    letter-spacing: 5px;
}

#skills img {
    width: 64px;
    height: 17vh;
    transform: translate(-109px, 50px);
}

#skills img:hover {
    background-color: darkslategrey;
    border-radius: 2px;
    border: 5px dashed dimgrey;
    box-sizing: border-box;
}

@media screen and (min-width:768px) {

    body {
        background-color: rgba(128, 128, 128, 0.151);
    }

    header {
        width: 100vw;
        padding-top: 10px;
        height: 13vh;
        position: fixed;
        background-color: white;
        z-index: 1;
    }

    img.imagem-eu {
        width: 60px;
        height: 9vh;
        margin: 10px 29px -16px 0px;
        position: relative;
        top: 1px;
        left: 3vw;
        border-radius: 100%;
        display: inline-block;
    }

    span.nome {
        text-decoration: none;
        color: #333333cf;
        font: oblique 500 16px fantasy;
        text-transform: uppercase;
        margin: 0px 2px 0px 20px;
    }

    i>img#imagem-menu {
        display: none;
    }

    nav#itens {
        display: flex;
        justify-content: flex-end;
        box-shadow: none;
        background-color: transparent;
    }

    ul.menu {
        display: inline-flex;
        position: relative;
        top: -61px;
        left: 30vw;
    }

    ul.menu li {
        background-color: transparent;
        position: relative;
        left: 10vw;
    }

    ul.menu a {
        text-decoration: none;
        color: #333333cf;
        font: oblique 500 18px fantasy;
        text-transform: uppercase;
        margin: 0px 2px 0px 2px;
    }

    .menu a:hover {
        transition-duration: 2s;
        transform: translate(5px, -5px);
        display: block;
        text-decoration-line: overline;
    }

    hr {
        display: none;
    }

    section#info-perfil {
        position: absolute;
        top: 13em;
        min-width: 60vw;
        z-index: 0;
    }

    #info-perfil p {
        text-align: left;
        margin: 1vw 10vw 0px 24vw;
        line-height: 3em;
        color: white;
        font-family: monospace;
        font-weight: normal;
    }

    article#skills {
        position: absolute;
        left: 14vw;
        display: flex;
        width: 70vw;
        height: 37vh;
        flex-direction: row;
        background-color: #00000014;
        align-items: center;
        justify-content: space-evenly;
    }

    #skills img {
        width: 68px;
        background-color: dimgrey;
        border-radius: 4px;
        transform: translate(0px, 0px);
    }

    #skills>img:hover {
        transform: scale(1.1);
        background-color: transparent;
        border-radius: 0px;
        border: none;
        transition-duration: 1s;
    }

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}