@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    font: oblique 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

header {
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

img.imagem-eu {
    width: 45px;
    height: 7vh;
    margin: 15px 10px -16px 22px;
    border-radius: 100%;
    display: inline-block;
}

span.nome {
    font: oblique 700 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 24.2px;
    margin: 1px;
    color: #333333;
    text-transform: uppercase;
}

.nome:hover {
    color: orange;
    cursor: pointer;
}

i>img#imagem-menu {
    display: block;
}

img#imagem-menu {
    position: relative;
    left: 86vw;
    top: -28px;
    cursor: pointer;
}

nav#itens {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 8px 7px -7px;
    z-index: 1;
    position: absolute;
    background-color: white;
}

ul.menu {
    display: grid;
    justify-items: end;
    list-style: none;
}

.menu>li {
    background-color: white;
    padding: 40px 15px 20px 15px;
}

hr {
    width: 100vw;
    border: 1px solid #0000000a;
}

ul.menu a {
    text-decoration: none;
    color: #333333;
    font: oblique 700 14px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 21.5px;
    text-transform: uppercase;
    margin: 0px 2px 0px 2px;
}

.menu a:hover {
    color: orange;
}

section#info-perfil {
    position: absolute;
    top: 8em;
    min-width: 60vw;
    z-index: 0;
}

#info-perfil h1 {
    text-align: center;
    font-family: math;
    color: black;
    font-style: italic;
    font-size: 2.4em;
    letter-spacing: 5px;
}

#info-perfil p {
    text-align: justify;
    margin: 5vw 6vw 0px 8vw;
    line-height: 2.5em;
    color: black;
    font-family: monospace;
    font-weight: normal;
}

hr.info {
    width: 5vw;
    border: 2px solid salmon;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
}

.curriculo {
    display: none;
}

article#skills {
    position: absolute;
    display: flex;
    top: 34em;
    left: 20vw;
    width: 80vw;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#skills h1 {
    text-align: center;
    font-family: math;
    color: black;
    font-style: italic;
    font-size: 2.1em;
    letter-spacing: 5px;
}

#skills img {
    width: 64px;
    height: 17vh;
    transform: translate(-109px, 50px);
}

#skills img:hover {
    background-color: tomato;
    border-radius: 2px;
    border: 5px dashed white;
    box-sizing: border-box;
}

section#projetos {
    position: relative;
    top: 47em;
    height: auto;
}

#projetos hr {
    width: 5vw;
    border: 2px solid salmon;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
}

#projetos h1,
p {
    text-align: center;
    color: black;
}

#projetos h1 {
    font-family: math;
    color: black;
    font-style: italic;
    font-size: 2.1em;
    letter-spacing: 10px;
}

#projetos p {
    line-height: 2.5em;
    text-align: start;
    margin: 20px 1em 0px 8vw;
    font-family: monospace;
    font-weight: normal;
}

b {
    text-decoration: underline;
    text-decoration-color: coral;
}

.btp {
    display: none;
}

picture.prj {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.prj img {
    width: 300px;
    margin-top: 20px;
}

.prj h2 {
    color: black;
    font-family: math;
    margin-top: 10px;
}

button.prjs {
    padding: 10px;
    border-radius: 5px;
    width: 113px;
    background-color: coral;
    margin-bottom: 30px;
    border: none;
}

.prjs:hover {
    transition-duration: 0.6s;
    transform: scale(1.1);
}

.prjs a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: whitesmoke;
    min-height: 40vh;
    position: relative;
    top: 47em;
}

footer h4 {
    position: absolute;
    top: 30px;
    left: 43px;
}

footer ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 30px;
    margin: 5px;
}

@media screen and (min-width:768px) {

    body {
        background-color: white;
        height: 100vh;
    }

    header {
        width: 100vw;
        padding-top: 10px;
        height: 11vh;
        position: fixed;
        background-color: white;
        z-index: 1;
    }

    img.imagem-eu {
        min-width: 71px;
        height: 55px;
        margin: 15px 10px -16px 22px;
        border-radius: 100%;
        position: relative;
        left: 5vw;
        top: -12px;
    }

    span.nome {
        display: inline-block;
        text-decoration: none;
        color: #333333cf;
        font: oblique 500 16px fantasy;
        text-transform: uppercase;
        position: relative;
        left: 5vw;
        bottom: 10px;
    }

    i>img#imagem-menu {
        display: none;
    }

    nav#itens {
        display: flex;
        justify-content: flex-end;
        box-shadow: none;
        background-color: transparent;
    }

    ul.menu {
        display: inline-flex;
        position: relative;
        top: -69px;
        left: 30vw;
    }

    ul.menu li {
        background-color: transparent;
        position: relative;
        left: 10vw;
    }

    ul.menu a {
        text-decoration: none;
        color: #333333cf;
        font: oblique 500 18px fantasy;
        text-transform: uppercase;
        margin: 0px 2px 0px 2px;
    }

    .menu a:hover {
        transition-duration: 1s;
        transform: translate(5px, -5px);
        display: block;
        text-decoration-line: overline;
    }

    hr {
        display: none;
    }

    section#info-perfil {
        position: absolute;
        top: 8em;
        min-width: 60vw;
        z-index: 0;
        background-color: white;
        height: 60vh;
    }

    #info-perfil h1 {
        color: black;
        margin-top: 1em;
    }

    #info-perfil p {
        text-align: left;
        margin: 3vw 19vw 0px;
        line-height: 3em;
        color: black;
        font-family: monospace;
        font-weight: normal;
    }

    button.curriculo {
        width: 100px;
        display: block;
        margin: auto;
        border: none;
        padding: 10px;
        background-color: black;
        border-radius: 10px;
    }

    .curriculo:hover {
        background-color: coral;
        transition-duration: 0.6s;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.555);
        transform: scale(1.1);
    }

    .curriculo a {
        text-decoration: none;
        color: white;
    }

    aside {
        position: absolute;
        width: 4em;
        border-radius: 3px;
        margin-top: 284px;
        background-color: white;
        height: 35vh;
        z-index: 0;
        box-shadow: 21px -16px 72px inset orange;
    }

    aside>ol.contatos {
        display: flex;
        flex-direction: column;
        height: 34vh;
        list-style: none;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .contatos li a:hover {
        background-color: #ffa50080;
        transition-duration: 0.6s;
        border-radius: 5px;
        padding: 25px 8px 8px 8px;
    }

    ol.contatos>li>a {
        text-decoration: none;
    }

    .contatos a>img {
        width: 32px;
    }

    .contatos img:hover {
        transform: scale(1.1);
    }

    article#skills {
        position: relative;
        top: 33em;
        left: 0vw;
        display: flex;
        width: 100vw;
        height: 45vh;
        flex-direction: row;
        background-color: orange;
        align-items: center;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
    }

    #skills h1 {
        color: black;
    }

    #skills img {
        width: 68px;
        height: 120px;
        background-color: #00000014;
        border-radius: 5px;
        transform: translate(0px, 0px);
    }

    #skills>img:hover {
        transform: scale(1.1);
        background-color: orangered;
        border: none;
        transition-duration: 1s;
    }

    button.btp {
        display: block;
        margin: auto;
        margin-top: -151px;
        padding: 10px;
        background-color: orange;
        color: black;
        border-color: snow;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        position: relative;
        top: 55em;
    }

    section#projetos p {
        margin-top: 30px;
        text-align: center;
    }

    #projetos {
        display: none;
        animation-name: projects;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }

    @keyframes projects {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    picture.prj {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prj img {
        width: 50vw;
    }

    .prj img:hover {
        transform: scale(1.1) translate(0px, -6px);
        box-shadow: 0px 0px 15px #0000002b;
        transition-duration: 1s;
    }

    #projetos>picture.prj>p>b {
        text-decoration: none;
        color: coral;
    }

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}